* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

p {
    margin-bottom: 20px;
    text-align: center;
    
}

.pHeadings {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(39, 137, 235, 0.815);
    font-size: 60px;
    padding:20px;
    
}

#Copy-right {
    color: rgb(202, 40, 73);
}

header {
    background-image: url(images/victory.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.hero-text {
    position: absolute;
    width: 1140px;
    top: 55%;
    left: 55%;
    transform: translate(-45%, -27%);
    color: white;
    font-size: 40px;
}
 
.container {
    width: 1140;
    margin: 0px 1000px 30px center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 18px;
    padding: 50px;
}

.container img {
    height: 600px;
    width: 800px;
    border-style: none;
    float: left;
    width: 50%;
    padding: 30px;    
    margin-bottom: 30px;
    
}

.row-after {
    content: "";
    clear: both;
    display: table;
}

  .now-playing {
      background-color: rgba(30, 143, 255, 0.432);
}

  .npheading {
      color: white;
      text-align: center;
      font-size: 60px;
      padding:20px;
      margin: 20px;
}

.button {
    display:inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.button-fill {
    background-color: rgba(30, 143, 255, 0.561);
   

}

.clear-button {
    border: 1px solid rgba(30, 143, 255, 0.561);
}



